* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    color: #000;
}

html, 
body {
    background: #F7F4F0;
    height: 2000px;
}

canvas {
    position: fixed;
    z-index: 2;
    pointer-events: none;
}

section {
    position: relative;
    padding: 10vh 2vw;
    height: 100vh;
    width: 100vw;
}

.projects{
    width: 100%;
    height: 100%;
}

.projects ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

li {
    position: relative;
    border-bottom: #d8fa3050;
    cursor: pointer;
    font-size: 5vw;
    font-weight: 400;
}

.project-image {
    opacity: 0%;
    position: absolute;
    top: -100%;
    pointer-events: none;
    user-select: none;
}
